.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow-y: scroll;
}
.cart-items::-webkit-scrollbar {
  width: 5px;
  background-color: #df8b6a;
}
.cart-items::-webkit-scrollbar-thumb {
  background-color: #d72323;
}
.cart-items::-webkit-scrollbar-track {
  margin-top: 8rem;

  margin-bottom: 2rem;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgb(213, 59, 3);
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: rgb(236, 57, 7);
  border-color: rgb(236, 57, 7);
  color: white;
}

.actions .button--alt {
  color: #f45618;
}

.actions .button {
  background-color: #f45618;
  color: white;
}
@media (min-width: 350px) and (max-width: 480px) {
  .actions button {
    padding: 0.1rem 0.7rem;
    font-size: 0.7rem;
  }
  .total {
    font-size: 0.8rem;
  }
  .cart-items::-webkit-scrollbar {
    width: 2px;
    visibility: hidden;
  }
}
