.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: rgb(213, 59, 3);
  border: 1px solid rgb(213, 59, 3);
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}
@media (min-width: 350px) and (max-width: 480px) {
  .form button {
    padding: 0.2rem 0.9rem;
    font-weight: 300;
  }
}
