.meal {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.meal h3 {
  margin: 0 0 0.25rem 0;
  color: #d46905;
}

.description {
  font-style: italic;
  font-size: 0.8rem;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: rgb(213, 59, 3);
  font-size: 1.25rem;
}
@media (min-width: 350px) and (max-width: 480px) {
  .meal h3 {
    font-size: 1rem;
  }
  .description {
    font-size: 0.6rem;
  }
  .price {
    font-size: 1rem;
  }
}
