.volume_cont {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.volume_cont input {
  width: 15rem;
  border-radius: 5rem;
  height: 0.2rem;
}
.volume_cont input[type="range"]::-webkit-slider-runnable-track {
  height: 0.1rem;
}
.volume_cont input[type="range"]::-webkit-slider-thumb {
  margin-top: -6px;
}
