.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: rgb(224, 108, 13);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(197, 42, 42, 0.25);
  z-index: 10;
}
.header h1 {
  background-color: orangered;
  display: block;
  padding: 0.4rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.25);
  z-index: 30;
  margin-left: -8rem;
}

.main-image {
  width: 100%;
  height: 25rem;
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-11deg) translateY(-5rem) translateX(-2rem);
}
@media (min-width: 350px) and (max-width: 480px) {
  .header {
    padding: 0.5rem;
  }

  .header h1 {
    margin-left: 0;
    height: 3rem;
    font-size: 1.4rem;
  }
  .main-image img {
    transform: rotateZ(-11deg) translateY(-9rem) translateX(-1rem);
  }
}
