.track {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.track_image,
.track_info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.track_name {
  color: white;
}
.track_artists {
  color: #b3b3b3;
}
