.input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.input label {
  margin-right: 1rem;
  font-size: 0.8rem;
  font-style: italic;
  color: black;
}

.input input {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}
@media (min-width: 350px) and (max-width: 480px) {
  .input label {
    font-size: 0.6rem;
    font-style: normal;
  }
}
